/* Body y fondo */
body {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  margin: 0;
  padding: 100px;
  color: #f1f1f1;
  overflow-x: hidden;
  z-index: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/public//cover-spotify.webp);
  background-size: cover;
  background-position: center;
  filter: blur(2px) brightness(0.3);
  z-index: -1;
  -webkit-filter: blur(2px) brightness(0.3);
}

/* Contenedor principal de la aplicación */
.App {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #080707;
  border-radius: 8px;
}

.logoForm {
  width: 100px;
  height: 100px;
}

/* Cabecera */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2.5em;
  color: #2cdc14;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

/* Formulario para agregar canciones */
.song-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
}

.input {
  padding: 12px;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #282828;
  color: #f1f1f1;
}

.input:focus {
  outline: none;
  border-color: #22ff00;
}

.btn {
  background-color: #2cdc14;
  color: rgb(0, 0, 0);
  padding: 12px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #1b9403;
}

/* Mensajes de error */
.error {
  color: #15ff00;
  font-size: 0.9em;
  margin-top: -8px;
}

/* Barra de búsqueda */
.search-bar {
  width: 97%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 1.1em;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #282828;
  color: #f1f1f1;
}

.search-bar:focus {
  outline: none;
  border-color: #26ff00;
}

/* Estilos para la lista de canciones */
.song-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

/* Estilos adicionales */
.song-item {
  background-color: #181818;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s all;
}

.song-item:hover {
  transform: translateY(-5px);
  background-color: rgb(14, 108, 4);
}

/* Contenedor de la información de la canción */
.song-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.song-name {
  font-weight: bold;
  color: #f1f1f1;
  font-size: 1.2em;
}

.song-info-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

/* Botón de Play */
.play-btn {
  background-color: #22ff00;
  color: rgb(0, 0, 0);
  width: 80px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 1em;
}

.play-btn:hover {
  background-color: #0acc00; /* Color más oscuro cuando el cursor pasa por encima */
}

/* Contador de reproducciones */
.play-count {
  font-size: 1em;
  color: #a6a6a6;
}

/* Botón de eliminar */
.delete-btn {
  background-color: #555;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.delete-btn:hover {
  background-color: #22ff00;
  color: #000;
}

/* Modal de confirmación de eliminación */
.delete-confirmation {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Fondo más oscuro para un mejor contraste */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out; /* Animación de desvanecimiento */
}

.modal-content {
  background-color: #181818;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7); /* Sombra más pronunciada para crear profundidad */
  position: relative;
  animation: slideUp 0.4s ease-out; /* Animación para que el modal suba suavemente */
}

/* Animación para desvanecimiento del modal */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animación de deslizamiento hacia arriba */
@keyframes slideUp {
  from {
    transform: translateY(50px); /* Comienza desde abajo */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Botón para cerrar el modal */
.close-btn {
  position: absolute;
  top: 0px;
  right: 1px;
  font-size: 2.3em;
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Cambio de color al pasar el cursor sobre el botón de cerrar */
.close-btn:hover {
  color: #00ff08; /* Rojo de YouTube */
}

/* Estilo del iframe de YouTube dentro del modal */
.modal iframe {
  border-radius: 8px;
  width: 100%;
  height: 400px;
}

/* Fondo de la página opaco mientras el modal está abierto */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1; /* Asegura que el overlay esté detrás del modal */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 600px) {
  .song-info-right {
    flex-direction: column;
  }

  .title {
    font-size: 1.5em;
  }

  .btn,
  .play-btn,
  .delete-btn {
    width: 100%;
  }

  .modal-content iframe {
    height: 200px;
  }
}
